ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: red;
}

.active {
    background-color: red;
}

#sezione {
    background-color: red;   /*#2196F3; blue*/
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

h1.titolo1{
  color: white;
  font-family: sans-serif;
  text-align: center;
}

h1.titolo1:hover{
  color: black;
}

h2.titolo2{
  color: black;
  font-style: bold;
  font-family: sans-serif;
  text-align: center;
  font-size: 35px;
}

img.lok{
  height: 150px;
}

img.lok2{
  height: 150px;
}

img.lok3{
  height: 150px;
  margin-top: 10px;
}

p.title{
  color: black;
  font-style: bold;
  font-family: sans-serif;
  font-size: 25px;
}

p.description{
  color: black;
  font-family: sans-serif;
  font-size: 20px;
}

#sezione3 {
    background-color: #2196F3;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

p.title1{
  color: white;
  font-style: bold;
  font-family: sans-serif;
  font-size: 25px;
}

p.description1{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

#sezione4 {
  background-color: white;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

p.title2{
  color: black;
  font-style: bold;
  font-family: sans-serif;
  font-size: 25px;
}

p.description2{
  color: black;
  font-family: sans-serif;
  font-size: 20px;
}

#footer{
  background-color: black;
  opacity: 0.800;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

p.footer{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

a.footer{
  color: #2196F3;
}

a.footer:hover{
  color: red;
}

p.footer2{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
